name: Firefox

on: [push, workflow_dispatch]

jobs:
  firefox:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Firefox
        uses: cypress-io/github-action@v7
        timeout-minutes: 10
        with:
          build: npm run build
          start: npm start
          browser: firefox

  firefox-headed:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Firefox
        uses: cypress-io/github-action@v7
        timeout-minutes: 10
        with:
          build: npm run build
          start: npm start
          browser: firefox
          headed: true
